* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    border-bottom: 1px solid #5F6368;
    padding: 20px;
    color: #5F6368;
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #f8f8f8;
}
header a {
    text-decoration: none;
    color: #5F6368;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    font-size: 22px;
    font-weight: normal;
    margin-left: 10px;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.header-menu-left ul li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
    position: relative;
}
.header-menu-left ul li.active a::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 3px;
    top: 200%;
    right: 3%;
    background: blue;
}
.header-menu-left ul li.active a {
    color: blue;
}
/* main */
main {
    padding: 60px;
}
.question {
    color: #3C4042;
    margin-bottom: 30px;
    margin-top: 40px;
}
.answer {
    line-height: 24px;
}
/* Footer */
footer {
    background-color: rgb(213, 215, 211);
    border-top: 1px solid #5F6368;
}
footer .footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}
footer .footer-menu-left ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}
footer .footer-menu-right {
    display: flex;
    align-items: center;
}
footer .footer-menu-right select {
    width: 150px;
    height: 24px;
}
footer .footer-menu-right i {
    color: blue;
    font-size: 24px;
    margin-right: 10px;
}